/*FOOTER*/
footer {
    min-height: 340px;
    height: auto;
    background-color: $text-color;
    color: $base;
    font-family: $font-principal;
    font-size: 1.8em;
    @include flex(default, space-around,center,default);
    width: 100%;

    .footer-section {
        list-style-type: none;
        height: 300px;
        width: 300px;
        max-width: 450px;
        border-left: solid $base 1px;
        padding-left: 25px;

        &__title {
            font-size: 1.9em;
            line-height: 30px;
            margin-bottom: 15px;
        }

        &__logo {
            width: 250px;
            height: 250px;
            img{
                width: 100%;
            }
        }

        &__item {
            max-width: 310px;
            margin-right: 10px;
            display: flex;
        }

        &__icon {
            width: 30px;
            margin-right: 10px;
            img{
                width: 100%;
            }
        }

        &__link {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @include screen (tablet){
        min-height: 30.203vw;
        font-size: 1.372vw;
        .footer-section {
            height: 22.531vw;
            width: 19,531vw;
            padding-left: 2.441vw;
            &__title {
                font-size: 2.565vw;
                line-height: 1.941vw;
                margin-bottom: 0.977vw;
            }
            &__logo {
                width: 19.531vw;
                height: 19.531vw;
            }
            &__item {
                max-width: 19.531vw;
                margin-right: 2.930vw;
            }
            &__icon {
                width: 2.172vw;
            }
        }
    }
}