/*----------------------HOME----------------------*/
/*-----------MAIN-----------*/
#home-main {
    margin: 320px auto 0px;
    max-width: 78.125vw;
    width: 100%;
    #last-news {
        .carousel {
            &-indicators {
                @extend .carousel-indicator;
                background-color: $base;
                width: 3%;
                margin: 0;
                left: -1.5%;
                bottom: 38%;
                @include flex(column, default, center, default);
            }
            .banner {
                max-width: 100%;
                min-width: 100%;
                max-height: 31.25vw;
                filter: drop-shadow( 0px 7px 7px rgba(0, 0, 0, 0.4));
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(11, 1fr);
                margin: 0 auto 70px;
                &__image {
                    overflow: hidden;
                    grid-row: 2 / -1;
                    grid-column: 1 / 10;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }
                }
                &__title-container {
                    filter: drop-shadow( 0px 7px 7px rgba(0, 0, 0, 0.4));
                    grid-row: 1 / 3;
                    grid-column: 1 / 8;
                    margin: 0 60px;
                }
                &__title {
                    background-color: $secondary;
                    clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
                    padding-top: 0.260vw;
                    z-index: 2;
                    height: 5.729vw;
                    max-height: 5.729vw;
                    h1 {
                        color: $base;
                        font-size: 4.5vw;
                        text-decoration: none;
                        text-align: center;
                        line-height: 5.729vw;
                    }
                }
                &__news {
                    background-color: $base;
                    clip-path: polygon(18.5% 0%, 100% 0%, 100% 100%, 18.5% 100%, 0% 50%);
                    grid-row: 2 / -1;
                    grid-column: 7 / -1;
                    color: $text-color;
                }
                &__news-title {
                    font-size: 2.604vw;
                    margin-top: 2.083vw;
                    padding-left: 9.375vw;
                    padding-right: 2.083vw;
                    max-height: 7.292vw;
                    min-height: 3.646vw;
                    overflow: hidden;
                }
                &__news-text {
                    font-size: 1.302vw;
                    padding-left: 9.375vw;
                    padding-right: 2.083vw;
                    max-height: 15.6vw;
                    overflow: hidden;
                    margin-bottom: 2.083vw;
                }
            }
        }
    }
    /*-----CARDS-----*/
    .cards-container {
        @include flex(default, space-between, default, default);
        margin: 5.208vw auto;
        width: 100%;
        min-height: 61.979vw;
        /*NEWS*/
        .news-cards {
            @include flex(column, space-between, center, default);
            width: 37vw;
            .carousel {
                &-indicators {
                    @extend .carousel-indicator;
                    bottom: -12%;
                }
                &-control-prev {
                    @extend .carousel-control;
                    left: 95.02%;
                    height: 20%;
                    width: 5%;
                    clip-path: polygon(100% 0%,100% 100%,0% 50%);
                }
                &-control-next {
                    @extend .carousel-control;
                    right: -6%;
                    height: 20%;
                    width: 5%;
                    clip-path: polygon(0% 0%,0% 100%,100% 50%);
                }
            }
            &__card {
                width: 100%;
                height: 18.229vw;
                background-color: $base;
                color: $text-color;
                box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
            }
            &__title {
                @include flex(default, flex-start, default, default);
                height:  6.771vw;
                width: 100%;
                overflow: hidden;
                h2{
                    font-size: 2.604vw;
                    line-height: 3.2vw;
                    max-width: 29.167vw;
                    height: 100%;
                    padding: 0px 0.521vw;
                    margin: 0;
                }
            }
            &__icon {
                max-width: 6.771vw;
                max-height: 6.771vw;
                clip-path: ellipse(45% 45% at 50% 50%);
                width: 6.771vw;
                height: 6.771vw;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &__text {
                width: 31.771vw;
                height: 7.431vw;
                font-size: 1.302vw;
                margin: 0.521vw 2.083vw 0px 1.042vw;
                overflow: hidden;
            }
        }
        .animation-container {
            width: 100%;
        }
        /*THIS WEEK*/
        .this-week {
            @include flex(column, space-between, default, default);
            width: 37vw;
            .carousel {
                &-indicators {
                    @extend .carousel-indicator;
                    bottom: -12.5%;
                    width: 100%;
                    [data-bs-target]{
                        text-indent: 0;
                        width: 1.823vw;
                        height: 1.823vw;
                        font-size: 0.885vw;
                        line-height: 0.9vw;
                        color: $base;
                    }
                }
            }
            &__card {
                @include flex(column, center, default, default);
                background-color: $base;
                width: 100%;
                height: 28.646vw;
                color: $text-color;
                box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
                .card {
                    &__list {
                        list-style-type: none;
                        height: 100%;
                        @include flex(column, space-evenly, default, default);
                        padding: 0;
                    }
                    &__title {
                        text-align: center;
                        font-size: 2.604vw;
                        border-bottom: $details solid 3px;
                        margin: 0px 1.823vw;
                        line-height: 2.344vw;
                    }
                    &__item {
                        width: 90%;
                        height: 7.292vw;
                        margin: 0.260vw auto;
                        display: flex;
                    }

                    &__item-image {
                        width: 5.208vw;
                        height: 100%;
                        margin-right: 10px;
                    }

                    &__item-image img {
                        width: 100%;
                        height: 100%;
                    }

                    &__item-title {
                        font-size: 1.563vw;
                        margin-bottom: 0.260vw;
                        margin-top: 0;
                        line-height: 1.198vw;
                    }

                    &__item-data {
                        font-size: 1.042vw;
                        margin: 0.260vw 0px;
                    }
                }
            }
        }
    }
    @include screen(tablet){
        max-width: 85vw;
        margin: 26.367vw auto 0px;
        #last-news{
            .carousel{
                &-indicators {
                    width: 13vw;
                    left: 0%;
                    bottom: 9%;
                    margin: 0 auto;
                    @include flex(row, space-evenly, default, default);
                    [data-bs-target]{
                        width: 0.981vw;
                        height: 0.981vw;
                    }
                }
                .banner{
                    max-height: 33vw;
                    margin: 0px auto 4.883vw;
                    &__title-container {
                        margin: 0 3.906vw;
                    }
                    &__news-title {
                        font-size: 3vw;
                        margin-top: 2.5vw;
                        padding-left: 10vw;
                        padding-right: 3vw;
                        margin-bottom: 0.7vw;
                    }
                    &__news-text {
                        font-size: 1.7vw;
                        padding-left: 10vw;
                        padding-right: 3vw;
                        margin-bottom: 2.1vw;
                        max-height: 17.5vw;
                    }
                }
            }
        }
        .cards-container {
            min-height: 70vw;
            .news-cards {
                width: 39.5vw;
                .carousel{
                    &-indicators {
                        bottom: -15%;
                        [data-bs-target]{
                            width: 0.981vw;
                            height: 0.981vw;
                        }
                    }
                    &-control-prev, &-control-next {
                        display: none;
                    }
                }
                &__card {
                    height: 20vw;
                }
                &__title {
                    height: 7.5vw;
                    h2 {
                        font-size: 3.1vw;
                        max-width: 32vw;
                        line-height: 3.8vw;
                    }
                }
                &__icon {
                    max-width: 7.5vw;
                    max-height: 7.5vw;
                    width: 7.5vw;
                    height: 7.5vw;
                }
                &__text {
                    width: 36.4vw;
                    font-size: 1.5vw;
                    height: 8.7vw;
                }
            }
            .this-week {
                width: 39.5vw;
                .carousel {
                    &-indicators {
                        bottom: -17.5%;
                        [data-bs-target]{
                            width: 2.723vw;
                            height: 2.723vw;
                            font-size: 1.385vw;
                            line-height: 1.2vw;
                        }
                    }
                }
                &__card {
                    height: 32vw;
                    .card {
                        &__title {
                            font-size: 3.1vw;
                            line-height: 2.95vw;
                            margin: 0px 2.1vw;
                        }
                        &__item {
                            height: 8.1vw;
                        }
                        &__item-image {
                            width: 5.9vw;
                        }
                        &__item-info {
                            width: 28.7vw;
                            height: 8.1vw;
                        }
                        &__item-data {
                            font-size: 1.3vw;
                        }
                    }
                }
            }
        }
    }
}


/*----------------------HOME END----------------------*/
