/*IMPORTANT NEWS*/
.important-news {
    height: 31.250vw;
    width: 100%;
    &__info-container {
        height: 31.250vw;
        border-bottom: $details solid 3px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    &__image {
        grid-column: 1 / 6;
        grid-row: 2 / 11;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        font-size: 3.646vw;
        line-height: 4.475vw;
        overflow: hidden;
        margin: 0px 0px 0.781vw 1.042vw;
        grid-column: 6 / -1;
        grid-row: 2 / 6;
    }
    &__description {
        font-size: 1.563vw;
        line-height: 2.2vw;
        overflow: hidden;
        grid-column: 6 / -1;
        grid-row: 5 / 11;
        margin: 0.460vw 0px 0px 1.042vw;
        @include text-shorten(7);
    }
    .carousel {
        &-control-next{
            @extend .carousel-control;
            right: -4%;
            height: 10%;
            width: 3%;
            clip-path: polygon(0% 0%,0% 100%,100% 50%);           
        }
        
        &-control-prev {
            @extend .carousel-control;
            left: -4%;
            height: 10%;
            width: 3%;
            clip-path: polygon(100% 0%,100% 100%,0% 50%);
        }
        
        &-indicators{
            @extend .carousel-indicator;
            bottom:4%;
            width: 15%;
            border: solid 3px $secondary;
        }
        
        &-item{
            height: 100%;
        }
    }
    @include screen (tablet){
        height: 75vw;
        &__info-container {
            height: 75vw;
        }
        &__image {
            grid-column: 1 / -1;
            grid-row: 1 / 7;
            margin-top: 2%;
        }
        &__title {
            grid-column: 1 / -1;
            grid-row: 7 / 9;
            font-size: 5vw;
            line-height: 4.7vw;
            margin: 1vw 0 0.5vw 0;
        }
        &__description {
            grid-column: 1 / -1;
            grid-row: 8 / 12;
            font-size: 2.7vw;
            margin: 4vw 0 1vw 0;
            @include text-shorten(9)
        }
        .carousel {
            &-control-prev, &-control-next {
                display: none;
            }
            &-indicators {
                width: 15vw;
                [data-bs-target]{
                    width: 1.281vw;
                    height: 1.281vw;
                }
            }
        }
    }
    @include screen (mobile){
        height: 65vw;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
        &__info-container {
            border-bottom: none;
            background-color: #FFFBF3;
            height: 65vw;
        }
        &__image {
            grid-column: 1 / -1;
            grid-row: 4 / -1;
            img{
                height: 100%;
            }
        }
        &__title {
            font-size: 6vw;
            line-height: 7.9vw;
            padding: 0vw 2vw;
            max-height: 15vw;
            margin: 0.6vw 0 0 0;
            text-align: center;
            grid-column: 1 / -1;
            grid-row: 1 / 4;
        }
        &__description {
            display: none;
        }
        .carousel {
            &-indicators {
                bottom: -3.4%;
                border: none;
                background-color: $base;
                width: 15vw;
                [data-bs-target]{
                    width: 1.481vw;
                    height: 1.481vw;
                }
            }
            &-control-next, &-control-prev {
                display: none;
            }
        }
    }
}

/*CAROUSEL IMPORTANT NEWS*/


/*NEWS*/
.news {
    color: $text-color;
    @include flex(column, default, default, default);
    &__item {
        height: 15.625vw;
        border-bottom: $details solid 3px;
        display: flex;
    }
    &__image {
        height: 13.021vw;
        width: 10.021vw;
        margin: 1.302vw 1.563vw 1.302vw 0px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    &__info {
        width: 47.917vw;
        height: 14.121vw;
        overflow: hidden;
    }
    &__title {
        font-size: 2.604vw;
        margin: 0.781vw 0 0.1vw;
        line-height: 3.05vw;
        overflow: hidden;
        @include text-shorten(2)
    }
    &__description {
        font-size: 1.302vw;
        margin: 0.1vw 0vw 0vw;
        line-height: 1.7vw;
        @include text-shorten(4)
    }
    @include screen (tablet){
        &__item {
            height: 18.5vw;
        }
        &__image {
            height: 16vw;
            width: 11.5vw;
        }
        &__info {
            width: 65.3vw;
            height: 17vw;
        }
        &__title {
            font-size: 3.3vw;
            @include text-shorten(2)
        }
        &__description {
            font-size: 2.3vw;
            line-height: 2.6vw;
            @include text-shorten(4)
        }
    }
    @include screen (mobile){
        margin: 10vw auto 0;
        background-color: $base;
        width: 90vw;
        padding: 2vw 4vw;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
        &__item {
            height: 30vw;
            padding: 2vw 0;
        }
        &__image {
            height: 100%;
            width: 17vw;
            margin: 0 2vw 0 0;
        }
        &__info {
            height: 100%;
            width: 63vw;
        }
        &__title {
            font-size: 4.7vw;
            line-height: 4.3vw;
            margin: 0;
            @include text-shorten(2)
        }
        &__description {
            font-size: 2.7vw;
            margin: 0.6vw 0 0 0;
            line-height: 3.9vw;
            @include text-shorten(4)
        }
    }
}
/*----------------------END NEWS----------------------*/