/*----------------------CONTACT----------------------*/

.contact-section {
    width: 100%;
    height: 46.875vw;
    border: map-get($colors, details) solid 3px;
    border-radius: 0.365vw;
    color: map-get($colors, text-color);
    margin: 3.125vw 0px;
    padding: 0px 6.250vw;
    &__title {
        font-size: 3.646vw;
        border-bottom: map-get($colors, details) solid 3px;
        margin-bottom: 1.302vw;
    }
    @include screen (tablet){
        height: 60vw;
        margin: 5vw 0;
        padding: 0 6vw;
        &__title {
            font-size: 5.7vw;
            margin-bottom: 1.7vw;
        }
    }
}
/*FORM*/
.form-container {
    margin-top: 3.125vw;
    .contact-form {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        height: 37.500vw;
        align-items: center;
        /*STYLING*/
        .name, .last-name, .email, .subject {
            font-size: 1.563vw;
            font-family: $font-principal;
        }
        #fname, #lname {
            border: none;
            background-color: map-get($colors, details);
            padding: 0.260vw 0.781vw;
            font-size: 1.563vw;
        }
        #email, #subject {
            border: none;
            background-color: map-get($colors, details);
            padding: 0.260vw 0.781vw;
            font-size: 1.563vw;
        }
        #message {
            background-color: map-get($colors, details);
            border: none;
            font-size: 1.563vw;
            padding: 0.260vw 0.781vw;
            max-height: 16vw;
        }
        .form__button-send, .form__button-reset {
            border: none;
            border-radius: 1.042vw;
            background-color: map-get($colors, primary);
            color: map-get($colors, details);
            font-size: 1.563vw;
            font-family: $font-principal;
            &:hover{
                border: map-get($colors, primary) solid 3px;
                background-color: map-get($colors, details);
                color: map-get($colors, primary);
                cursor: pointer;
            }
        }
        /*POSITIONING*/
        .name {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        #fname {
            grid-row: 1 / 2;
            grid-column: 3 / 6;
        }
        .last-name {
            grid-row: 1 / 2;
            grid-column: 8 / 9;
        }
        #lname {
            grid-row: 1 / 2;
            grid-column: 10 / -1;
        }
        .email {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        #email {
            grid-row: 2 / 3;
            grid-column: 3 / -1;
        }
        .subject {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }
        #subject  {
            grid-row: 3 / 4;
            grid-column: 3 / -1;
        }
        #message {
            grid-row: 5 / 10;
            grid-column: 1 / -1;
        }
        .form__button-send {
            grid-row: 11 / 12;
            grid-column: 1 / 3;
        }
        .form__button-reset {
            grid-row: 11 / 12;
            grid-column: 4 / 6;
        }
    }
    @include screen (tablet){
        margin-top: 5vw;
        .contact-form {
            height: 45vw;
        }
        .name, .last-name, .email, .subject {
            font-size: 1.7vw;
        }
        #fname, #lname, #message, #email, #subject {
            font-size: 1.7vw;
            padding: 0.3vw 0.8vw;
        }
        #message {
            max-height: 18.5vw;
        }
        .form__button-send {
            grid-column: 1 / 4;
            grid-row: 11 / -1;
            padding: 1vw 0;
            font-size: 1.9vw;
        }
        .form__button-reset {
            grid-column: 5 / 8;
            grid-row: 11 / -1;
            padding: 1vw 0;
            font-size: 1.9vw;
        }
    }
}
/*SOCIAL MEDIA*/
.social-media {
    color: map-get($colors, text-color);
    width: 100%;
    margin: 2.604vw 0px;
    &__links {
        list-style-type: none;
        @include flex(column, center, center, default);
    }
    &__title {
        font-size: 3.646vw;
        border-bottom: map-get($colors, details) solid 3px;
        margin-bottom: 3vw;
    }
    &__link {
        font-size: 1.963vw;
        font-family: $font-principal;
        height: 3.125vw;
        display: flex;
        a{
            text-decoration: none;
            color: map-get($colors, text-color);
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__icon {
        height: 3.004vw;
        width: 3.004vw;
        margin: 0.260vw 0xp;
    }
    @include screen (tablet){
        &__title {
            font-size: 5vw;
        }
        &__link {
            font-size: 2.7vw;
            height: 5vw;
        }
        &__icon {
            height: 5vw;
            width: 5vw;
            margin: 0 0.3vw;
        }
    }
}