/*----------------------HELP/FAQ----------------------*/
.faq {
    height: 21.875vw;
    width: 100%;
    border-bottom: $details solid 3px;
    color: $text-color;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-top: 2.083vw;
    &__title {
        font-size: 3.646vw;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    &__description {
        font-size: 1.563vw;
        margin-bottom: 1.042vw;
        grid-row: 3 / -1;
        grid-column: 1 / 12;
    }
    &__description {
        font-size: 1.563vw;
        margin-bottom: 1.042vw;
        grid-row: 3 / -1;
        grid-column: 1 / 12;
    }
    @include screen (tablet){
        height: 35vw;
        margin-top: 5vw;
        &__title {
            font-size: 4.5vw;
            grid-row: 1 / 3;
        }
        &__description {
            font-size: 2.5vw;
            grid-row: 4 / 12;
        }
    }
    @include screen (mobile){
        height: 55vw;
        border-bottom: none;
        background-color: $base;
        width: 100vw;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
        &__title {
            font-size: 8vw;
            line-height: 7.9vw;
            padding: 0vw 2vw;
            max-height: 15vw;
            margin: 1.5vw 0 0 0;
            text-align: center;
            grid-column: 1 / -1;
            grid-row: 1 / 3;
        }
        &__description {
            font-size: 4.2vw;
            grid-column: 1 / -1;
            grid-row: 4 / -1;
            padding: 0 5vw;
        }
    }
}
.questions {
    color: $text-color;
    width: 100%;
    &__answers {
        list-style-type: none;
        padding: 0;
        .answers {
            &__item {
                height: auto;
                padding: 1.302vw 0px;
                border-bottom: $details solid 3px;
                overflow: hidden;
            }
            &__title {
                font-size: 2.604vw;
                margin: 0px 0px 0.521vw;
            }
            &__description {
                font-size: 1.302vw;
                margin: 0xp 0px;
            }
            @include screen (tablet){
                &__item {
                    height: auto;
                    padding: 1.8vw 0;
                }
                &__title {
                    font-size: 3.5vw;
                    margin: 0 0 0.7vw;
                }
                &__description {
                    font-size: 2.1vw;
                }
            }
        }
    }
    @include screen (mobile){
        margin: 10vw auto 0;
        width: 90vw;
        background-color: $base;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
        &__answers {
            .answers {
                &__item {
                    padding: 1.5vw 0vw;
                    margin: 0vw 3vw;
                }
                &__title {
                    font-size: 5vw;
                }
                &__description {
                    font-size: 3.7vw;
                }
            }
        }
    }
}
/*----------------------END HELP/FAQ----------------------*/