/*----------------------WORK WITH US----------------------*/
.work-with-us-form{
    margin-top: 3vw;
    padding-right: 35vw;
}

.work-with-us-title{
    font-size: 3.646vw;
    border-bottom: $details solid 3px;
    margin-bottom: 1.302vw;
}

.work-form{
    font-family: $font-principal;
}
/*----------------------END WORK WITH US----------------------*/