*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown-toggle::after {
    display: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*EM CONVERSION*/
html {
    font-size: 62.5%;
}

/*OVERRIDE BOOSTRAP*/
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}