/*COLORS*/
$primary: #2F3858;
$primary-shadow: #272F40;
$secondary: #FF8552;
$secondary-shadow: #FF5A26;
$details: #FDF0D5;
$text-color: #232323;
$base: #FFFBF3;

/*FONT FAMILY*/
$font-principal: 'Pragati Narrow', sans-serif;
$font-title: 'Bebas Neue', cursive;